---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  mainClass="container py-10"
>
  <section class="space-y-5">
    <h1 class="font-heading text-4xl">A propos</h1>
    <img
      src="/UX-UI-football.jpg"
      alt="Alexandre Legrand"
      class="rounded-full w-40 h-40 mx-auto"
    />

    <h3 class="font-heading text-2xl">Marier le Football à l'UX/UI</h3>
    <p>
      Je m'appelle Rossiny Longo est, je suis une designeuse UX/UI passionné par
      le football. Je suis convaincue que le design peut transcender les
      frontières du virtuel pour créer des expériences uniques et engageantes,
      surtout dans le contexte passionnant du football. Je suis une
      professionnelle passionné de l'UX/UI et fervente amatrice de football, mon
      domaine d'expertise se situe à l'intersection de deux univers fascinants.
      Je suis convaincue que le design peut transcender les frontières du
      virtuel pour créer des expériences uniques et engageantes, surtout dans le
      contexte passionnant du football.
    </p>
    <h3 class="font-heading text-2xl">Identité du site</h3>
    <p>
      Depuis toujours, le football a occupé une place spéciale dans mon cœur. En
      suivant cette passion, j'ai découvert un moyen captivant d'appliquer mes
      compétences en UX/UI pour améliorer l'interaction entre les fans et leur
      équipe préférée. Pour cela, je vais créer un site statique avec Astro où
      je partagerai ma passion en utilisant des éléments visuels stylisés, des
      symboles et des schémas pour représenter l'univers. J'opterai pour une
      palette de couleurs dynamique, des typographies distinctes, et intégrerai
      des animations subtiles pour une expérience interactive. Je vais offrir
      mes réflexions personnelles sur les événements sportifs sans recourir à
      des photos traditionnelles, privilégiant des représentations artistiques
      pour conserver l'authenticité de mon univers.
    </p>
    <h3 class="font-heading text-2xl">Pourquoi le Football et l'UX/UI?</h3>
    <p>
      Mon rêve est de canaliser ma passion pour le football dans la création
      d'interfaces exceptionnelles pour les clubs de football. Je suis convaincu
      que des designs bien pensés peuvent renforcer la connexion émotionnelle
      entre les fans et leur équipe, tout en facilitant l'accès aux informations
      essentielles. Cette combinaison unique de ma passion pour le football et
      de mon expertise en UX/UI me permet également d'analyser les stratégies,
      les mouvements des joueurs et les dynamiques de jeu, ajoutant une
      dimension stratégique à mon travail.
    </p>
    <h3 class="font-heading text-2xl">UX/UI dans le Football</h3>

    <h4 class="font-heading text-xl">Utilisateur</h4>
    <p>
      Au cœur de mon travail se trouve la compréhension profonde des
      utilisateurs, des fans de football passionnés. Chaque conception que je
      crée vise à répondre à leurs besoins, à améliorer leur expérience et à
      renforcer leur connexion émotionnelle avec le club.
    </p>

    <h4 class="font-heading text-xl">Wireframe</h4>

    <p>
      Les wireframes sont les fondations de mes créations. Ils représentent la
      structure sous-jacente de l'interface, assurant une navigation intuitive
      et un accès rapide aux informations clés, qu'il s'agisse de statistiques
      de joueurs, d'actualités de matchs ou de billetterie.
    </p>

    <h4 class="font-heading text-xl">Test Utilisateur</h4>

    <p>
      L'itération est essentielle. À travers des tests utilisateurs approfondis,
      je m'assure que chaque détail de l'interface est optimisé pour offrir une
      expérience utilisateur fluide et agréable.
    </p>

    <h4 class="font-heading text-xl">Ergonomie</h4>

    <p>
      L'ergonomie est au cœur de la conception, garantissant que chaque
      interaction sur l'interface est naturelle, intuitive et plaisante.
    </p>

    <h4 class="font-heading text-xl">Conception Visuelle</h4>

    <p>
      Chaque pixel compte. La conception visuelle donne vie à l'interface,
      captivant les utilisateurs avec des éléments esthétiques tout en
      maintenant la fonctionnalité.
    </p>
  </section>
</MainLayout>
