---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
---

<MainLayout title="Astronomy">
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    >
      <h3
        class="font-heading text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl !leading-[1.1] text-balance"
      >
        Rejoignez-moi dans cette aventure où le football et le design se
        rencontrent,
        <span class="text-gradient_indigo-purple">
          créant des expériences qui transcendent le simple spectateur pour
          engager <span class="font-sans font-bold">et</span> inspirer chaque fan.<span
            class="font-sans font-bold"></span>
        </span>
      </h3>
    </div>
  </section>

  <section
    id="features"
    class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24"
  >
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
    >
      <h3 class="font-heading text-xl leading-[1.1] sm:text-xl md:text-4xl">
        Qu'est-ce que l'UX/UI?
      </h3>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
        UX/UI fait référence à deux disciplines du design, l'expérience
        utilisateur (UX) et l'interface utilisateur (UI), cruciales pour
        concevoir des produits, sites Web et applications interactifs.
      </p>
    </div>
    <div
      class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
    >
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <img src="/infini.png" alt="image" class="w-12 h-12 rounded-full" />

          <div class="space-y-2">
            <h3 class="font-bold">Harmonie Design</h3>
            <p class="text-sm text-muted-foreground">
              Les designers UI visent à allier esthétique et fonctionnalité en
              suivant des principes de conception et des normes visuelles.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <img src="/couleur.png" alt="image" class="w-12 h-12 rounded-full" />
          <div class="space-y-2">
            <h3 class="font-bold">Graphisme</h3>
            <p class="text-sm text-muted-foreground">
              Englobe la disposition, les couleurs, les polices et les éléments
              visuels
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <img
            src="/conception.png"
            alt="image"
            class="w-12 h-12 rounded-full"
          />
          <div class="space-y-2">
            <h3 class="font-bold">Esthétisme</h3>
            <p class="text-sm text-muted-foreground">
              <b>Concerne la conception visuelle</b> et interactive.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <img src="/search.png" alt="image" class="w-12 h-12 rounded-full" />
          <div class="space-y-2">
            <h3 class="font-bold">Recherche</h3>
            <p class="text-sm text-muted-foreground mt-3">
              Comprend la recherche utilisateur<b> la création de personas</b> et
              la conception de parcours pour une interaction fluide.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <img src="/objectif.png" alt="image" class="w-12 h-12 rounded" />
          <div class="space-y-2">
            <h3 class="font-bold">Objectif</h3>
            <p class="text-sm text-muted-foreground">
              <b> optimiser facilité d'utilisation,</b> accessibilité et satisfaction.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <img
            src="/user_interaction_icon_150325.png"
            alt="image"
            class="w-12 h-12 rounded-full"
          />
          <div class="space-y-2">
            <h3 class="font-bold">Usabilité</h3>
            <p class="text-sm text-muted-foreground">
              <b>Se concentre sur</b> l'interaction utilisateur avec un produit.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto text-center md:max-w-[58rem]">
      <p
        class="leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
        Pour plus d'informations sur l'UX/UI, consultez <a
          href="https://lmntrix31.github.io/blog/"
          target="_blank"
          class="text-indigo-600 hover:underline"
        >
          Les articles</a
        >.
      </p>
    </div>
  </section>
</MainLayout>
